<section id="banner">
	<div class="inner">
		<h2>ШтаниShкин</h2>
		<p>Магазин брендовой одежды<br />
		   по самым низким ценам<br />
		<ul class="actions special">
			<li><a href="#" class="button primary">Activate</a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Узнать больше</a>
</section>
