@model ProductListViewModel
@{
    ViewData["Title"] = "Index";
}



    <div class="sortirovka">
        <h2>Сортировать по: </h2>
            <a class="evenboxinner" asp-controller="Products" asp-action="SortByBrand">Бренду</a>
            <a class="evenboxinner" asp-controller="Products" asp-action="SortBySize">Размеру</a>
            <a class="evenboxinner" asp-controller="Products" asp-action="SortByPriсe">Цене</a>
            <a class="evenboxinner" asp-controller="Products" asp-action="SortByType">Типу</a>
    </div>
<div class="productList">
    @foreach (var entity in Model.Products)
    {
            <div class="produktcard">
                <img src="~/images/@entity.TitleImagePath" alt="">
                <p>@entity.Name</p>
                <p>@entity.Brand</p>
                <p>@entity.Price рублей</p>
                <a asp-area="" asp-controller="Sales" asp-action="Sale" asp-route-id="@entity.Id">
                    <input type="submit" class="evenboxinner" value="SALE">
                </a>
            </div>
    }
</div>
