@model ProductListViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="header_space"></div>

<p>
    <a asp-controller="Products" asp-action="Create">Create New</a>
</p>
<div class="productList">
    @foreach (var entity in Model.Products)
    {
            <div class="produktcard">
                <img src="~/images/@entity.TitleImagePath" alt="">
                <p>@entity.Name</p>
                <p>@entity.Brand</p>
                <p>@entity.Price рублей</p>
            </div>
    }
</div>
