@model ProductListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Products" asp-action="Create">Create New</a>
</p>
<div class="productList" >
    <ul>
    @foreach (var entity in Model.Products)
    {
        <li>
            <div>
                <img src="~/images/@entity.TitleImagePath" alt="">
                <p>@entity.Name</p>
                <p>@entity.Brand</p>
                <p>@entity.Count</p>
            </div>
        </li>
    }
</ul>
</div>
