@model ProductListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Products" asp-action="Create">Create New</a>
</p>
<ul>
    @foreach (var entity in Model.Products)
    {
        <li>
            <img src="~/images/@entity.TitleImagePath" alt="" class="left UlImage">
            <p>@entity.Name</p>
            <p>@entity.Brand</p>
            <p>@entity.Count</p>
        </li>
    }
</ul>