@model BrandListViewModel
<ul>
    @foreach (var brand in Model.Brands)
    {
        <li>
            <img src="~/images/@brand.TitleImagePath" alt="">
            <p>@brand.Name</p>
            <p>@brand.ManufacturerCountry</p>
        </li>
    }
</ul>
