<a asp-controller="Product" asp-action="SortByBrand">Сортировать по бренду</a>
<a asp-controller="Product" asp-action="SortBySize">Сортировать по размеру</a>
<a asp-controller="Product" asp-action="SortByPrise">Сортировать по цене</a>
<a asp-controller="Product" asp-action="SortByCoutn">Сортировать по количеству</a>
